
{% extends "base.html" %}
{% load static %}
{% block content %}
    
<p>
    <a class="btn btn-light" href="{% url 'sportfriend_SportFriends_list' %}">
    SportFriends Listing
    </a>
</p>
    
<form method="post" enctype="multipart/form-data">
  {% csrf_token %}
  {{form.errors}}
  <div class="form-group row">
      <label class="col-sm-2 col-form-label" for="last_updated">last_updated: </label>
      <input class="form-control col-sm-10"
         id="last_updated" type="datetime-local"
         name="last_updated" value="{{ object.last_updated }}" disabled>
  </div>
  <div class="form-group row">
      <label class="col-sm-2 col-form-label" for="created">created: </label>
      <input class="form-control col-sm-10"
         id="created" type="datetime-local"
         name="created" value="{{ object.created }}" disabled>
  </div>
  <div class="form-group row">
      <label class="col-sm-2 col-form-label" for="is_confirm">is_confirm: </label>
      <input class="form-control col-sm-10"
         id="is_confirm" type="checkbox"
         name="is_confirm" value="{{ object.is_confirm }}">
  </div>
  <div class="form-group row">
      <label class="col-sm-2 col-form-label" for="user_fr_id">user_fr_id: </label>
      {{ form.user_fr_id }}
  </div>
  <div class="form-group row">
      <label class="col-sm-2 col-form-label" for="user_id">user_id: </label>
      {{ form.user_id }}
  </div>
  <input type="submit" value="Save" class="btn btn-primary">
</form>

{% endblock %}